<% layout("/layouts/boilerplate.ejs") %>

<div class=" privacy">
  <h2 class="mt-2 mb-4" ><u>Privacy Policy</u> </h2>
  

  <h5>1. Information We Collect :</h5>
  <ul>
    <li>Personal information (e.g., name, email)</li>
    <li>Booking and payment details</li>
    <li>User feedback and communication</li>
  </ul>

  <h5>2. How We Use Your Data :</h5>
  <ul>
    <li>To manage bookings and host/guest communication</li>
    <li>Improve user experience</li>
    <li>Send notifications, promotions, or important updates</li>
    <li>Comply with legal and regulatory requirements</li>
  </ul>

  <h5>3. Sharing of Information :</h5>
  <p>We may share information with trusted partners (e.g., payment providers, support services) as needed for platform operations. We do not sell personal data.</p>

  <h5>4. Your Rights :</h5>
  <ul>
    <li>Access or correct your personal information</li>
    <li>Request deletion of your account/data</li>
    <li>Withdraw consent at any time</li>
  </ul>

  <h5>5. Cookies :</h5>
  <p>We use cookies to enhance functionality and user experience. You may manage your preferences through your browser settings.</p>

  <h5>6. Security :</h5>
  <p>Your data is protected with industry-standard security measures.</p>

</div>

