
<footer>
    
    <div class="footer-top">
        <div class="footer-support">
            <p><b>Support</b></p>
            <p>Help Centre</p>
            <p>AirCover</p>
            <p>Anti-descrimination</p>
            <p>Cancellation options</p>
            <p>Report Neighbourhood concern</p>
        </div>
        <div class="footer-hosting">
            <p><b>Hosting</b></p>
            <p>your home</p>
            <p>your experience</p>
            <p>your service</p>
            <p>hosting resources</p>
            <p>join a free hosting class</p>
            <p>find a co-host</p>
        </div>
        <div class="footer-wonderlust">
            <p><b>Wonderlust</b></p>
            <p>2025 summer release</p>
            <p>newsroom</p>
            <p>careers</p>
            <p>investors</p>
            <p>emergency stays</p>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <div class="footer-bottom-content"> 
        <div class="footer-icons">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>
            <div>&copy; Wanderlust private limited</div> 
        </div>
        <div class="footer-links">
            <a id="privacy" class="tnc" href="/privacy">Privacy</a>
            <a id="terms" class="tnc" href="/terms">Terms</a>            
        </div>
        </div>
    </div>
    
</footer>