<div class="mb-3">
    <label for="category">Category</label>                    
    <div class="dropdown" id="category">
        <button class="btn btn-outline-secondary dropdown-toggle newDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            select listing category
        </button>
    <div class="dropdown-menu p-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="snug spaces" id="snug spaces" name="listing[category]">
            <label class="form-check-label" for="snug spaces">Snug spaces</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="arctic" id="arctic" name="listing[category]">
            <label class="form-check-label" for="arctic">Arctic</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="mountains" id="mountains" name="listing[category]">
            <label class="form-check-label" for="mountains">Mountains</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="coastal charm" id="coastal charm" name="listing[category]">
            <label class="form-check-label" for="coastal charm">Coastal charm</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="iconic cities" id="iconic cities" name="listing[category]">
            <label class="form-check-label" for="iconic cities">Iconic cities</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="castle" id="castle" name="listing[category]">
            <label class="form-check-label" for="castle">Castle</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="amazing pools" id="amazing pools" name="listing[category]">
            <label class="form-check-label" for="amazing pools">Amazing pools</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="camping" id="camping" name="listing[category]">
            <label class="form-check-label" for="camping">Camping</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="farms area" id="farms area" name="listing[category]">
            <label class="form-check-label" for="farms area">Farms area</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="dome" id="dome" name="listing[category]">
            <label class="form-check-label" for="dome">Dome</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="camping" id="boats" name="listing[category]">
            <label class="form-check-label" for="boats">Boats</label>
        </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>