<% layout("/layouts/boilerplate.ejs") %>

<div class="row">    
    <div class="col-6 offset-3">
        <h5 class="mt-3 mb-3">Login for Wonderlust</h5>
        <form method="post" action="/login" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label mb-0">Username</label>
                <input type="text" name="username" required id="username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label mb-0">Password</label>
                <input type="password" name="password" required id="password" class="form-control">
            </div>
            <button class="btn btn-success">Login</button>
        </form>
        <div class="mt-4">
            <b>or</b>
            <b>create account : &nbsp;&nbsp;</b> 
            <a href="/signup" class="tosignup">Sign up</a>
        </div>
    </div>
</div>